.Projects {
	overflow-y: hidden;
	overflow-x: hidden;
	padding: 2rem 1rem;
	margin: 0 auto;
	max-width: 480px;

	--vertical-display-breakpoint: 1000px;
}

@media screen and (min-width: 1000px) {
	.Projects {
		max-width: 1280px;
	}
}

.Header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.BackButton {
	display: flex;
	align-items: center;
	gap: 8px;
	text-decoration: none;
	margin-bottom: 1rem;

	&:hover {
		color: white;
	}
}
