.cta {
  background-color: transparent;
  transition: border-color var(--default-transition-time);
  padding: .5rem 1.2rem;
  border: 1px solid #ffffff50;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
  width: max-content;
  font-weight: 500;
  font-size: 1.2rem;

  img {
    width: 14px;
  }

  &:hover {
    border-color: #ffffff80;
  }
}