:root {
  --cta-border-radius: 8px;
}

.cta {
  background-color: transparent;
  transition: border-color var(--default-transition-time);
  padding: .5rem 1.2rem;
  border: 1px solid #ffffff50;
  border-radius: var(--cta-border-radius);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
  width: max-content;
  font-weight: 500;
  font-size: 1.2rem;

  img {
    width: 14px;
  }

  &:hover {
    border-color: #ffffff80;
  }
}


// Stolen from Kevin Powell ;)

.glow-effect {
  --container-offset: 50px;
  position: relative;
  
  &:hover {
    .glow-blur,
    .glow-line {
      stroke: #fff;
    }
  }
}

.glow-container {
  position: absolute;
  pointer-events: none;
  inset: calc(var(--container-offset) / -2);
  width: calc(100% + var(--container-offset));
  height: calc(100% + var(--container-offset));
  // outline: 3px solid black;
}

.glow-blur,
.glow-line {
  width: calc(100% - var(--container-offset));
  height: calc(100% - var(--container-offset));
  x: calc(var(--container-offset) / 2);
  y: calc(var(--container-offset) / 2);
  fill: transparent;
  stroke: #ffffff70;
  stroke-width: 1px;
  transition: stroke 500ms;
  animation: blur-rotate 18s forwards infinite;
}

.glow-blur {
  stroke-width: 2px;
  filter: blur(8px);
}

@keyframes blur-rotate {
  from {
    stroke-dasharray: 100px 0;
    stroke-dashoffset: 0px;
    opacity: 1;
  }

  30% {
    stroke-dasharray: 20px 30px;
    opacity: 1;
  }

  60% {
    stroke-dasharray: 20px 30px;
    stroke-dashoffset: 200px;
    opacity: 1;
  }

  80% {
    stroke-dasharray: 100px 0;
    stroke-dashoffset: 200px;
    opacity: 0;
  }
}