html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--primary-text);
  font-family: 'Montserrat Alternates', sans-serif;
  line-height: 1;
}

body {
  background-color: var(--body-bg);
}

ul, ol {
  list-style: none;
}

button {
  background-color: transparent;
  border: 0;
  outline: none;
}

img {
  width: 100%;
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--body-bg);
  border-left: 2px solid var(--border-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 3px;
  background: var(--border-color);
  border-radius: 4px;
  transition: background-color 300ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}
