@property --left-light-opacity {
  syntax: '<number>';
  inherits: false;
  initial-value: 0.1;
}

@property --right-light-opacity {
  syntax: '<number>';
  inherits: false;
  initial-value: 0.4;
}

.Hero {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 90lvh;
  background-image: linear-gradient(to right, #26ae7725 1px, transparent 1px),
  linear-gradient(to bottom, #029eff25 1px, transparent 1px);
  background-size: 24px 24px;
  background-position: -1px -1px;
  margin-bottom: 4rem;

  & > div {
    z-index: 20;
  }

  &::before {
    --left-light-opacity: 0.1;
    --right-light-opacity: 0.4;

    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: -10;
    background: linear-gradient(
                    -35deg,
                    rgba(14, 107, 68, var(--left-light-opacity)) 0%,
                    rgba(7, 82, 51, 0) 35% 65%,
                    rgba(11, 112, 57, var(--right-light-opacity)) 100%
    );
    animation: hero-bg-pulse 10s ease-in-out forwards infinite;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 20lvh;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: linear-gradient(
                    180deg,
                    transparent,
                    var(--main-background-color)
    );
  }

  & > * {
    z-index: 20;
  }
}

@keyframes hero-bg-pulse {
  0% {
    --left-light-opacity: 0.1;
    --right-light-opacity: 0.35;
  }

  25% {
    --left-light-opacity: 0.35;
    --right-light-opacity: 0.35;
  }

  50% {
    --left-light-opacity: 0.35;
    --right-light-opacity: 0.1;
  }

  75% {
    --left-light-opacity: 0.1;
    --right-light-opacity: 0.1;
  }

  100% {
    --left-light-opacity: 0.1;
    --right-light-opacity: 0.35;
  }
}

@media screen and (min-width: 768px) {
  .Hero {
    min-height: 75lvh;
  }
}

.InnerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  flex: 1;
}

.Picture {
  width: clamp(150px, 10vw, 280px);
  height: clamp(150px, 10vw, 280px);
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 9999px;
  margin-bottom: 1rem;
}

.SocialMediaLinksWrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Location {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 2rem;
  margin-bottom: 1rem;

  u {
    font-size: 1.2rem;
    color: var(--primary-text-color);
  }
}
