.Hero {
	display: flex;
	position: relative;
	flex-direction: column;
	min-height: 85lvh;
	background-image:
		linear-gradient(to right, #26ae7725 1px, transparent 1px),
		linear-gradient(to bottom, #029eff25 1px, transparent 1px);
	background-size: 24px 24px;
	background-position: -1px -1px;
	margin-bottom: 4rem;

	& > div {
		z-index: 20;
	}

	&::before {
		content: "";
		display: block;
		z-index: -10;
		width: 100%;
		height: 20lvh;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		background: linear-gradient(
			180deg,
			transparent,
			var(--main-background-color)
		);
	}
}

@media screen and (min-width: 768px) {
	.Hero {
		min-height: 75lvh;
	}
}

.InnerWrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	flex: 1;
	display: flex;
}

.Picture {
	width: clamp(150px, 10vw, 280px);
	height: clamp(150px, 10vw, 280px);
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 9999px;
}

.SocialMediaLinksWrapper {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.Location {
	display: flex;
	align-items: center;
	gap: 6px;
	margin-bottom: 2rem;

	u {
		font-size: 1.2rem;
		color: var(--primary-text-color);
	}
}
