.ResponsiveWrapper {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.WithMargin {
  width: calc(100% - 4rem);
  margin: 2rem;
}

.WithBorder {
  border-left: 1px solid var(--primary-text-color);
  margin: 0;
  width: calc(100% - 2rem);
  margin-left: 2rem;
  padding: 2rem;
}
