@font-face {
    font-family: "AvenueX";
    src: local("Avenue X.ttf"), url("../assets/fonts/Avenue X.otf");
    font-weight: 400;
    font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Heming";
  src: local("Heming-Variable.ttf"), url("../assets/fonts/Heming-Variable.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

