* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  font-weight: 400;
}

body {
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
}
