* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  font-weight: 400;
}

body {
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
}

p {
  line-height: 1.1rem;
  color: var(--secondary-text-color);
}

button {
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
}
