:root {
	/* Raw rgb values */
	// backgrounds
	--main-background-color-raw: 12, 12, 12;

	// foregrounds
	--primary-text-color-raw: 240, 240, 240;
	--secondary-text-color-raw: 160, 160, 160;

	/* Useable rgb values */
	--main-background-color: rgb(var(--main-background-color-raw));
	--primary-text-color: rgb(var(--primary-text-color-raw));
	--secondary-text-color: rgb(var(--secondary-text-color-raw));
}
