:root {
  /* Raw rgb values */
  // backgrounds
  --main-background-color-raw: 0, 0, 0;

  // foregrounds
  --primary-text-color-raw: 255, 255, 255;

  /* Useable rgb values */
  --main-background-color: rgb(var(--main-background-color-raw));
  --primary-text-color: rgb(var(--primary-text-color-raw));
}
