.Header {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

.Subtitle {
  max-width: 580px;
}

.InnerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  flex: 1;
  display: flex;
}

.Picture {
  width: clamp(150px, 10vw, 480px);
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 9999px;
}

.SocialMediaLinksWrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
