.CustomTabs {
  margin-top: 1rem;
}

.LaptopView {
  display: none;
  flex-direction: column;
  gap: 3rem;
  padding-top: 1rem;

  section {
    h2 {
      margin-bottom: 0.7rem;
    }
  }
}

@media screen and (min-width: 1000px) {
  .MobileView {
    display: none;
  }

  .LaptopView {
    display: flex;
  }
}

